:root {
	--main-bg: hsl(69, 100%, 50%);
	--main-fg: hsl(0, 0%, 40%);
	--header-fg: white;
	--navbar-bg: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
	--navbar-fg: white;
	--navbar-height: 64px;
	--navbar-hover: #e0c3fc;
	--header-bg: black;
	--border-radius: 12px;
	--height-btn: 48px;
	--btn-bg: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
	--btn-fg: white;
	--btn-hover: #8ec5fc;
	--gray-btn-bg: hsl(0, 0%, 90%);
	--gray-btn-fg: hsl(0, 0%, 32%);
	--gray-btn-hover: hsl(0, 0%, 94%);
	--transparent-shadow: 1px 1px 8px hsl(0, 0%, 20%);
	--btn-dark-hover: rgba(0, 0, 0, 0.6);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
	width: 100%;
}
button {
	border: none;
}
.btn {
	width: 100%;
	border-radius: var(--border-radius);
	height: var(--height-btn);
	background-image: var(--btn-bg);
	color: var(--btn-fg);
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
	font-weight: bold;
	font-size: 16px;
}

.burger {
	position: fixed;
	bottom: 4vh;
	right: 4vh;
	background-image: var(--btn-bg);
	padding: 12px;
	border-radius: 50%;
	color: var(--btn-fg);
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
}
@media (hover: hover) {
	.btn:hover,
	.burger:hover {
		transform: translateY(-15%);
	}
}
body {
	font-family: "nunito", sans-serif;
}
.navbar {
	color: var(--navbar-fg);
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: var(--navbar-height);
	margin-top: var(--navbar-height);
	margin: 0;
	padding: 12px;
	z-index: 998;
}
.navbar-list {
	display: none;
	list-style: none;
	color: var(--main-fg);
	height: 100%;
}
.navbar-list li {
	cursor: pointer;
	height: 100%;
}
.navbar-list li:last-child {
	margin-right: 20px;
}
.navbar-list a {
	width: auto;
	text-decoration: none;
	color: var(--navbar-fg);
	font-weight: bold;
	font-size: 0.9rem;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
@media (hover: hover) {
	.navbar-list a:hover {
		text-decoration: underline;
	}
}
.contact-us-container {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--modal-bg);
	z-index: 998;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--main-fg);
	transition: opacity 0.3s ease-in-out;
}
.contact-us-container form {
	width: 80%;
	display: flex;
	justify-content: center;
}
.contact-us-container fieldset {
	width: 100%;
	max-width: 400px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	border: none;
}
.contact-us-container .btn {
	background-color: black;
	color: white;
}
.contact-us-container .btn-back {
	width: fit-content;
	margin: auto;
	padding: 12px;
	cursor: pointer;
}
@media (hover: hover) {
	.contact-us-container .btn-back:hover {
		color: black;
	}
}
.contact-us-container input:nth-child(2) {
	margin-top: 16px;
}
.logo {
	flex-grow: 1;
	display: flex;
	align-items: center;
	gap: 8px;
}
.logo-icon {
	font-size: 24px;
}
.logo h2 {
	font-size: 16px;
	margin: 0;
	text-transform: uppercase;
}
.dark-mode {
	cursor: pointer;
	padding: 12px;
	border-radius: 50%;
	transition: background-color 0.3s ease-in-out;
}
@media (hover: hover) {
	.dark-mode:hover {
		background-color: var(--btn-dark-hover);
	}
}
header {
	background-color: var(--header-bg);
	position: relative;
	height: 7vh;
	overflow: hidden;
}
header img {
	height: 100vh;
	object-fit: cover;
	object-fit: right center;
	opacity: 0.6;
	z-index: 997;
	user-select: none;
}
main{
	position: relative;
	overflow: hidden;
}
@media screen and (min-width: 700px) {
	.burger {
		display: none;
	}
	.navbar {
		padding: 0 60px;
		align-items: center;
	}
	.logo {
		flex-grow: 1;
	}
	.navbar-list {
		width: 40%;
		display: flex;
	}
	.navbar-list li {
		width: 100%;
	}
}
.wrap{
	max-width: 1100px;
	width: 90%;
	margin: auto;
}

.wrap > h1{
	color: #494B4D;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 15px 0px;
}

.wrap > h1:after{
	content: '';
	width: 100%;
	height: 1px;
	background: #C7C7C7;
	margin: 20px 0;
}

.store-wrapper{
	display: flex;
	flex-wrap: wrap;
}

.category_list{
	display: flex;
	flex-direction: column;
	width: 18%;
}

.category_list .category_item{
	display: block;
	width: 90%;
	padding: 15px 0;
	margin-bottom: 20px;
	background: #bc159b;
	background-image: var(--btn-bg);
	color: var(--btn-fg);
	border-radius: 6px;
	text-align: center;
	text-decoration: none;
	color: rgb(255, 249, 249);
	font-weight: 700;
}

.category_list .ct_item-active{
	background: #6a8eb4;
}

.products-list{
	width: 82%;
	display: flex;
	flex-wrap: wrap;
}


.products-list .product-item{
	width: 22%;
	margin-left: 3%;
	margin-bottom: 25px;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22);

	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;

	transition: all .4s;
}

.products-list .product-item img{
	width: 100%;
}

.products-list .product-item a{
	display: block;
	width: 100%;
	padding: 8px 0;
	background: #6a8eb4;

	color: #fff;
	text-align: center;
	text-decoration: none;
}
@media screen and (max-width: 1100px){
	.products-list .product-item{
		width: 30.3%;
	}
}

@media screen and (max-width: 900px){
	.category_list,
	.products-list{
		width: 100%;
	}

	.category_list{
		flex-direction: row;
		justify-content: space-between;
	}

	.category_list .category_item{
		align-self: flex-start;
		width: 15%;
		font-size: 14px;
	}

	.products-list .product-item{
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 0px;
	}
}

@media screen and (max-width: 700px){
	.category_list{
		flex-direction: column;
	}
	.category_list .category_item{
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 600px){

	.products-list .product-item{
		width: 47.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(2n+1){
		margin-left: 0px;
	}

}

@media screen and (max-width: 350px){
	.products-list .product_item{
		width: 100%;
		margin-left: 0px;
	}
}