:root {
	--main-bg: rgb(0, 183, 255);
	--main-fg: hsl(0, 0%, 40%);
	--header-fg: white;
	--navbar-bg: white;
	--navbar-height: 64px;
	--gray-border: 1px solid hsl(0, 0%, 90%);
	--header-bg: black;
	--main-highlight: rgb(3, 164, 192);
	--border-radius: 12px;
	--height-btn: 48px;
	--btn-bg: hsl(197, 100%, 50%);
	--btn-fg: white;
	--btn-hover: hsl(197, 100%, 60%);
	--gray-btn-bg: hsl(0, 0%, 90%);
	--gray-btn-fg: hsl(0, 0%, 32%);
	--gray-btn-hover: hsl(0, 0%, 94%);
	--transparent-shadow: 1px 1px 8px hsl(0, 0%, 40%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
	width: 100%;
}
button {
	border: none;
}
.btn {
	width: 100%;
	border-radius: var(--border-radius);
	height: var(--height-btn);
	background-color: var(--btn-bg);
	color: var(--btn-fg);
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}
.burger {
	position: fixed;
	bottom: 4vh;
	right: 4vh;
	background-color: var(--btn-bg);
	padding: 8px;
	border-radius: 50%;
	color: var(--btn-fg);
	cursor: pointer;
}
@media (hover: hover) {
	.btn:hover,
	.burger:hover {
		background-color: var(--btn-hover);
	}
}
body {
	font-family: "nunito", sans-serif;
	margin-top: calc(var(--navbar-height));
}
.navbar {
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: var(--navbar-height);
	margin-top: var(--navbar-height);
	margin: 0;
	padding: 12px;
	z-index: 998;
	background-color: var(--navbar-bg);
	box-shadow: var(--transparent-shadow);
}
.navbar-list {
	display: none;
	list-style: none;
	color: var(--main-fg);
	height: 100%;
}
.navbar-list li {
	cursor: pointer;
	height: 100%;
}
.navbar-list li:last-child {
	margin-right: 20px;
}
.navbar-list a {
	width: auto;
	text-decoration: none;
	color: var(--main-fg);
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
@media (hover: hover) {
	.navbar-list li:hover {
		background-color: var(--gray-btn-hover);
	}
}
.logo {
	font-size: 28px;
	color: var(--main-bg);
	flex-grow: 1;
}
.dark-mode {
	cursor: pointer;
	background-color: var(--gray-btn-bg);
	color: var(--gray-btn-fg);
	padding: 8px;
	border-radius: 50%;
	transition: background-color 0.3s ease-in-out;
}
@media (hover: hover) {
	.dark-mode:hover {
		background-color: var(--gray-btn-hover);
	}
}
header {
	background-color: var(--header-bg);
	position: relative;
	height: 80vh;
}
header img {
	height: 80vh;
	object-fit: cover;
	object-fit: right center;
	opacity: 0.7;
	z-index: 997;
}
header figcaption {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--header-fg);
	font-size: 1.2rem;
	text-align: center;
}
header .btn {
	margin: 12px 0;
}
footer {
	text-align: center;
	padding: 16px;
	color: var(--main-fg);
}
footer a {
	text-decoration: none;
	color: var(--main-highlight);
}
@media screen and (min-width: 700px) {
	.burger {
		display: none;
	}
	.navbar {
		padding: 0 60px;
		align-items: center;
	}
	.logo {
		flex-grow: 1;
	}
	.navbar-list {
		width: 40%;
		display: flex;
	}
	.navbar-list li {
		width: 100%;
	}
}
