:root {
	--main-bg: hsl(69, 100%, 50%);
	--main-fg: hsl(0, 0%, 40%);
	--header-fg: white;
	--navbar-bg: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
	--navbar-fg: white;
	--navbar-height: 64px;
	--navbar-hover: #e0c3fc;
	--header-bg: black;
	--border-radius: 12px;
	--height-btn: 48px;
	--btn-bg: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
	--btn-fg: white;
	--btn-hover: #8ec5fc;
	--gray-btn-bg: hsl(0, 0%, 90%);
	--gray-btn-fg: hsl(0, 0%, 32%);
	--gray-btn-hover: hsl(0, 0%, 94%);
	--transparent-shadow: 1px 1px 8px hsl(0, 0%, 20%);

	--btn-dark-hover: rgba(0, 0, 0, 0.6);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
	width: 100%;
}
button {
	border: none;
}
.btn {
	width: 100%;
	border-radius: var(--border-radius);
	height: var(--height-btn);
	background-image: var(--btn-bg);
	color: var(--btn-fg);
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
	font-weight: bold;
	font-size: 16px;
}
.burger {
	position: fixed;
	bottom: 4vh;
	right: 4vh;
	background-image: var(--btn-bg);
	padding: 12px;
	border-radius: 50%;
	color: var(--btn-fg);
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
}
@media (hover: hover) {
	.btn:hover,
	.burger:hover {
		transform: translateY(-15%);
	}
}
body {
	font-family: "nunito", sans-serif;
}
.navbar {
	color: var(--navbar-fg);
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: var(--navbar-height);
	margin-top: var(--navbar-height);
	margin: 0;
	padding: 12px;
	z-index: 998;
}
.navbar-list {
	display: none;
	list-style: none;
	color: var(--main-fg);
	height: 100%;
}
.navbar-list li {
	cursor: pointer;
	height: 100%;
}
.navbar-list li:last-child {
	margin-right: 20px;
}
.navbar-list a {
	width: auto;
	text-decoration: none;
	color: var(--navbar-fg);
	font-weight: bold;
	font-size: 0.9rem;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
@media (hover: hover) {
	.navbar-list a:hover {
		text-decoration: underline;
	}
}
.logo {
	flex-grow: 1;
	display: flex;
	align-items: center;
	gap: 8px;
}
.logo-icon {
	font-size: 24px;
}
.logo h2 {
	font-size: 16px;
	margin: 0;
	text-transform: uppercase;
}
.dark-mode {
	cursor: pointer;
	padding: 12px;
	border-radius: 50%;
	transition: background-color 0.3s ease-in-out;
}
@media (hover: hover) {
	.dark-mode:hover {
		background-color: var(--btn-dark-hover);
	}
}
header {
	background-color: var(--header-bg);
	position: relative;
	height: 100vh;
	overflow: hidden;
}
header img {
	height: 100vh;
	object-fit: cover;
	object-fit: right center;
	opacity: 0.6;
	z-index: 997;
}
header figcaption {
	width: 100%;
	max-width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--header-fg);
	font-size: 1.2rem;
	text-align: center;
}
header .btn {
	margin: 12px 0;
	box-shadow: var(--transparent-shadow);
}
footer {
	text-align: center;
	padding: 16px;
	color: var(--main-fg);
}
footer a {
	text-decoration: none;
	color: var(--main-highlight);
}
@media screen and (min-width: 700px) {
	.burger {
		display: none;
	}
	.navbar {
		padding: 0 60px;
		align-items: center;
	}
	.logo {
		flex-grow: 1;
	}
	.navbar-list {
		width: 40%;
		display: flex;
	}
	.navbar-list li {
		width: 100%;
	}
}
